.markdown_views {
    font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif, SimHei, SimSun
}

.markdown_views P {
    font-size: 16px;
    color: #4f4f4f;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 16px;
    text-align: justify;
}

.markdown_views strong {
    font-weight: 700;
}

.markdown_views i, address, cite, dfn, em, var {
    font-style: italic
}

.markdown_views * {
    box-sizing: border-box
}

.markdown_views h1, .markdown_views h2, .markdown_views h3, .markdown_views h4, .markdown_views h5, .markdown_views h6 {
    color: #4f4f4f;
    margin: 8px 0 16px;
    font-weight: 700
}

.markdown_views ol, .markdown_views ul {
    margin: 0 0 24px;
    padding: 0
}

.markdown_views ul ol {
    margin: 0 0 24px 32px
}

.markdown_views ul li {
    list-style-type: disc;
    margin: 8px 0 0 32px
}

.markdown_views ol li {
    list-style-type: decimal;
    margin-left: 40px;
    margin-top: 8px
}

.markdown_views img {
    margin: 24px 0;
    max-width: 100%
}

.markdown_views h1 {
    font-size: 28px;
    line-height: 36px
}

.markdown_views h2 {
    font-size: 24px;
    line-height: 32px
}

.markdown_views h3 {
    font-size: 22px;
    line-height: 30px
}

.markdown_views h4 {
    font-size: 20px;
    line-height: 28px
}

.markdown_views h5 {
    font-size: 18px;
    line-height: 26px
}

.markdown_views h6 {
    font-size: 16px;
    line-height: 24px
}

.markdown_views h1 code {
    font-size: 28px
}

.markdown_views h2 code {
    font-size: 24px
}

.markdown_views h3 code {
    font-size: 22px
}

.markdown_views h4 code {
    font-size: 20px
}

.markdown_views h5 code {
    font-size: 18px
}

.markdown_views h6 code {
    font-size: 16px
}

.markdown_views blockquote {
    display: block;
    padding: 16px;
    margin: 0 0 24px;
    border-left: 8px solid #DDDFE4;
    background: #EEF0F4;
    overflow: auto;
    overflow-scrolling: touch;
    word-wrap: normal;
    word-break: normal
}

.markdown_views blockquote ol, .markdown_views blockquote ul {
    margin-bottom: 0;
    padding: 0;
    font-size: 14px;
    line-height: 22px
}

.markdown_views blockquote ol li, .markdown_views blockquote ul li {
    margin-bottom: 0
}

.markdown_views blockquote p {
    font-size: 14px;
    line-height: 22px;
    color: #999;
    font-weight: 400;
    margin-bottom: 0
}

.markdown_views hr {
    margin: 24px 0;
    border: none;
    border-bottom: solid #ddd 1px
}

.markdown_views table tr {
    border: 0;
    border-top: 1px solid #DDD;
    background-color: #fff
}

.markdown_views table {
    border-collapse: collapse;
    display: table;
    width: 100%;
    text-align: center;
    margin-bottom: 24px
}

.markdown_views tbody {
    border: 0
}

.markdown_views table tr:nth-child(2n) {
    background-color: #F7F7F7
}

.markdown_views table tr td, .markdown_views table tr th {
    font-size: 14px;
    color: #4f4f4f;
    line-height: 22px;
    border: 1px solid #DDD;
    padding: 8px;
    text-align: left;
    word-wrap: break-word;
    word-break: normal;
    vertical-align: middle
}

.markdown_views table tr td code, .markdown_views table tr th code {
    white-space: normal;
    word-break: break-all
}

.markdown_views table tr th {
    font-weight: 700;
    background-color: #eff3f5
}

.markdown_views dl {
    margin: 24px
}

.markdown_views dl dt {
    margin: 8px;
    font-weight: 700
}

.markdown_views dl dt dd {
    margin: 8px
}

.markdown_views abbr[data-original-title], .markdown_views abbr[title] {
    cursor: help;
    border-bottom: 1px dotted #999
}

.markdown_views .initialism {
    font-size: 90%;
    text-transform: uppercase
}

.markdown_views pre {
    margin-bottom: 24px
}

.hljs {
    display: block;
    padding: 8px
}

.hljs-comment, .hljs-comment *, .hljs-javadoc, .hljs-template_comment {
    color: #800
}

.clojure .hljs-built_in, .hljs-keyword, .hljs-list .hljs-title, .hljs-request, .hljs-status, .hljs-tag .hljs-title, .hljs-winutils, .http .hljs-title, .method, .nginx .hljs-title, .setting .hljs-value, .tex .hljs-command {
    color: #008
}

.hljs-envvar {
    color: #660
}

.hljs-attr_selector, .hljs-cdata, .hljs-date, .hljs-filter .hljs-argument, .hljs-regexp {
    color: #080
}

.clojure .hljs-attribute, .css .hljs-function, .css .hljs-value .hljs-number, .hljs-decorator, .hljs-hexcolor, .hljs-literal, .hljs-number, .hljs-pi, .hljs-prompt, .hljs-shebang, .hljs-sub .hljs-identifier, .hljs-symbol, .hljs-tag, .hljs-tag .hljs-keyword, .ini .hljs-title {
    color: #066
}

.clojure .hljs-title, .haskell .hljs-type, .hljs-built_in, .hljs-class .hljs-id, .hljs-class .hljs-title, .hljs-doctype, .hljs-javadoctag, .hljs-params, .hljs-phpdoc, .hljs-tag .hljs-attribute, .hljs-typename, .hljs-variable, .hljs-yardoctag, .setting {
    color: #4f4f4f
}

.css .hljs-tag, .hljs-pseudo, .hljs-rules .hljs-property {
    color: #000
}

.css .hljs-class, .css .hljs-id {
    color: #9b703f
}

.hljs-value .hljs-important {
    color: #f70;
    font-weight: 700
}

.hljs-rules .hljs-keyword {
    color: #c5af75
}

.apache .hljs-sqbracket, .hljs-annotation, .nginx .hljs-built_in {
    color: #9b859d
}

.tex .hljs-formula {
    background-color: #eee;
    font-style: italic
}

.diff .hljs-header, .hljs-chunk {
    color: grey;
    font-weight: 700
}

.diff .hljs-change {
    background-color: #bccff9
}

.hljs-addition {
    background-color: #baeeba
}

.hljs-deletion {
    background-color: #ffc8bd
}

.hljs-comment .hljs-yardoctag {
    font-weight: 700
}

.apache .hljs-cbracket, .apache .hljs-tag, .asciidoc .hljs-header, .bash .hljs-variable, .coffeescript .hljs-attribute, .django .hljs-variable, .erlang_repl .hljs-function_or_atom, .haml .hljs-symbol, .hljs-addition, .hljs-aggregate, .hljs-constant, .hljs-flow, .hljs-parent, .hljs-pragma, .hljs-preprocessor, .hljs-preprocessor *, .hljs-rules .hljs-value, .hljs-rules .hljs-value .hljs-number, .hljs-stream, .hljs-string, .hljs-tag .hljs-value, .hljs-template_tag, .hljs-title, .markdown .hljs-header, .ruby .hljs-symbol, .ruby .hljs-symbol .hljs-string, .smalltalk .hljs-class, .tex .hljs-command, .tex .hljs-special {
    color: #090
}

.clojure .hljs-built_in, .hljs, .hljs-subst, .hljs-tag .hljs-title, .lisp .hljs-title, .nginx .hljs-title {
    color: #4f4f4f
}

.apache .hljs-cbracket, .apache .hljs-tag, .asciidoc .hljs-header, .bash .hljs-variable, .coffeescript .hljs-attribute, .django .hljs-variable, .erlang_repl .hljs-function_or_atom, .haml .hljs-symbol, .hljs-addition, .hljs-aggregate, .hljs-constant, .hljs-flow, .hljs-parent, .hljs-pragma, .hljs-preprocessor, .hljs-rules .hljs-value, .hljs-rules .hljs-value .hljs-number, .hljs-stream, .hljs-string, .hljs-tag .hljs-value, .hljs-template_tag, .hljs-title, .markdown .hljs-header, .ruby .hljs-symbol, .ruby .hljs-symbol .hljs-string, .smalltalk .hljs-class, .tex .hljs-command, .tex .hljs-special {
    color: #090
}

.markdown_views code, .markdown_views kbd, .markdown_views pre, .markdown_views samp {
    font-family: Consolas, Inconsolata, Courier, monospace;
    font-size: 14px;
    line-height: 22px;
    color: #000
}

.markdown_views code {
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 2px;
    padding: 4px 2px 0
}

.markdown_views a {
    color: #4EA1DB;
    text-decoration: none
}

.markdown_views a:focus, .markdown_views a:hover {
    color: #ca0c16
}

.markdown_views a:visited {
    color: #6795B5
}

.markdown_views .footnote {
    vertical-align: top;
    position: relative;
    top: -4px;
    font-size: 12px
}

.markdown_views .footnotes ol li {
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 8px 24px
}

.markdown_views .flow-chart, .markdown_views .sequence-diagram {
    text-align: center;
    margin-bottom: 24px;
    font-size: 14px !important
}

.markdown_views .flow-chart [fill="#000"], .markdown_views .flow-chart [fill="#000000"], .markdown_views .flow-chart [fill=black], .markdown_views .sequence-diagram [fill="#000"], .markdown_views .sequence-diagram [fill="#000000"], .markdown_views .sequence-diagram [fill=black] {
    fill: #4f4f4f
}

.markdown_views .flow-chart [stroke="#000000"], .markdown_views .sequence-diagram [stroke="#000000"] {
    stroke: #4f4f4f
}

.markdown_views .MathJax_SVG_Display {
    text-align: center;
    margin: 24px 0;
    font-size: 18px;
    font-weight: 400;
    color: #4f4f4f;
    position: relative;
    text-indent: 0;
    max-width: none;
    max-height: none;
    min-width: 0;
    min-height: 0;
    width: 100%
}

.markdown_views .toc {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 24px;
    padding: 0
}

.markdown_views .toc ul {
    margin: 0 0 8px;
    padding: 0
}

.markdown_views .toc ul li {
    list-style-type: none;
    margin: 8px 0 0 24px
}

.markdown_views pre code {
    display: block;
    font-size: 14px;
    line-height: 22px;
    overflow-x: auto;
    padding: 0;
    color: #000;
    white-space: pre;
    word-wrap: normal;
    background-color: #f6f8fa;
    border-radius: 4px
}

.markdown_views .prettyprint, .markdown_views pre.prettyprint {
    margin: 0 0 24px;
    padding: 8px 16px 4px 56px;
    background-color: #f6f8fa;
    border: none
}

.prettyprint {
    position: relative;
    overflow-y: hidden;
    overflow-x: auto
}

.markdown_views .prettyprint .pre-numbering {
    position: absolute;
    width: 48px;
    background-color: #eef0f4;
    top: 0;
    left: 0;
    margin: 0;
    padding: 8px 0;
    list-style: none;
    text-align: right
}

.markdown_views .pre-numbering li {
    padding: 0 8px;
    list-style: none;
    margin: 0
}

.markdown_views dl dd {
    margin: 0 0 8px 40px
}

.markdown_views kbd {
    padding: 2px 8px;
    border: 1px solid rgba(63, 63, 63, .25);
    box-shadow: 0 1px 0 rgba(63, 63, 63, .25);
    background-color: #fff;
    color: #333;
    border-radius: 4px;
    display: inline-block;
    margin: 0 2px;
    white-space: nowrap
}
