@media screen and (max-width 980px) 
  //  顶部导航栏
  .headerWrapper 
    .headerItem 
      padding 0 10px !important
    .userDisplay
      width 110px !important
    .el-menu-demo 
      .search-input 
        max-width 200px !important
        padding-left 10px !important
        flex none !important
      .writeEssay 
        right 200px !important
      .messageCenter 
        right 94px !important
      .userDisplay 
        .username-header 
          display none !important
  //  主体内容
  .mainContent 
    .homeLeft 
      width 68% !important
      .recommend-wrapper 
        height 200px !important
        .title 
          font-size 40px !important
          left 60px !important
          top 30px !important
        .intro 
          font-size 16px !important
          left 120px !important
          top 84px !important
        .introEnglish 
          font-size 16px !important
          left 120px !important
          top 104px !important
        .desc 
          font-size 18px !important
          left 120px !important
          top 140px !important
      .bloglist
        .recommend-essay-list
          .recommend-essay-item
            .personal-blog-pic
              .personal-pic
                width 126px !important
                height 90% !important
            .blog-info-wrapper
              padding-left 6px !important
              .blog-text
                height 66px !important
                padding 4px 0 !important
    .homeRight 
      width 32% !important
    .essayContentWrapper
      .content 
        width 66% !important
      .personalInfoWrapper 
        width 34%
    .proxyListSwipper 
      .productIntro 
        .show 
          padding-top 70px !important
          table 
            td 
              padding 20px !important
    .essay-tag-wrapper
      .essay-tag-list
        .essay-tag
          width 49% !important
          &:nth-of-type(odd)
            margin-right 2px !important
  // 主体内容中非flex布局
  .essayEditWrapper 
    .el-dialog 
      width 60% !important
  //  底部
  .footer-wrapper 
    .footer-top  
      .info 
        .logo 
          height 80px !important
        .link-wrapper 
          padding 6px 6px 6px 12px !important
          line-height 30px !important
          .friend-link-wrapper  
            .link 
              margin-right 8px !important