@font-face {
  font-family: "iconfont"; /* Project id 2613341 */
  src: url('iconfont.eot?t=1650856242757'); /* IE9 */
  src: url('iconfont.eot?t=1650856242757#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff?t=1650856242757') format('woff'),
       url('iconfont.ttf?t=1650856242757') format('truetype'),
       url('iconfont.svg?t=1650856242757#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-liebiao1:before {
  content: "\e608";
}

.icon-baocun:before {
  content: "\e605";
}

.icon-qq:before {
  content: "\e600";
}

.icon-mayun:before {
  content: "\e6d0";
}

.icon-weixin-copy:before {
  content: "\e601";
}

