// 主题色
$Primary = #409EFF;
$Success = #67C23A;
$Warning = #E6A23C;
$Danger = #F56C6C;
$Info = #909399;
// 主题色的 Hover 颜色
$PrimaryHover = #ecf5ff;
$SuccessHover = #f0f9eb;
$WarningHover = #fdf6ec;
$DangerHover = #fdf6ec;
$InfoHover = #e9e9eb;
// 文字颜色
$PrimaryText = #303133;
$RegularText = #606266;
$SecondaryText = #909399;
$Placeholder = #C0C4CC;
// 边框颜色
$BorderBase = #DCDFE6;
$BorderLight = #E4E7ED;
$BorderLighter = #EBEEF5;
$BorderExtralight = #F2F6FC;
// 背景色
$tabBackColor = #F5F7FA;
// 阴影颜色
$tabBoxShadow = 0 2px 12px 0 rgba(0, 0, 0, 0.1);
$tabBoxShadowMin = 0 2px 4px 0 rgba(0, 0, 0, 0.1);